/* extra light = 200, regular = 400, medium = 500, bold = 700 */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: scroll;
}

:root {
  --black: #000000;
  --brown: #5f2a0d;
  --red-dark: #79241f;
  --red-medium: #b43830;
  --red-light: #d2625a;
  --beige-dark: #e2d5c3;
  --beige-medium: #f6f1e9;
  --beige-light: #f5f5f5;
  --pink-medium: #e8d0ce;
  --pink-light: #f1e9e8;

  --dropshadow: 0px 1px 12px rgba(0, 0, 0, 0.25);
}
body {
  background-color: var(--beige-dark);
}
