---
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="../images/SakuraCPH-logo.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Landingpage</title>
  </head>
  <body>
    <header>
      <div id="nav_header">
        <div><h3 class="dato">22-23. APRIL 2023</h3></div>
        <div class="hamburger">
          <div>
            <span class="line"></span>
            <span class="line"></span>
          </div>
        </div>
      </div>
      <div>
        <div class="hejhej">
          <nav class="menu">
            <a href="program-liste">Program</a>
            <a href="#">Booths</a>
            <a href="#">Registration of booths, volunteers or activities</a>
            <a href="about">About us</a>
          </nav>
        </div>
      </div>
      <div id="flex">
        <img src="../images/rødring.png" alt="rødring" width="40%" />
        <img src="../images/blomstergren.png" alt="blomstergren" id="blomst" />
        <div id="tekst_forside">
          <h1>SAKURA FESTIVAL</h1>
          <h2 class="celebrate">Celebrate the blooming...</h2>
          <div id="tekstpil">
            <h2 class="japansk1">開花を祝う</h2>
          </div>
        </div>
        <div id="pilcontainer">
          <h2><a href="#program" class="pil">&#8595;</a></h2>
        </div>
      </div>
    </header>
    <main>
      <div id="program_div">
        <div id="program">
          <h2>The festival program</h2>
          <button>Download it here</button>
        </div>
        <div id="program_billeder">
          <img src="../images/flyer.webp" alt="flyer" id="flyer" class="" />
          <img src="../images/forside.png" alt="forside" id="forside" />
        </div>
      </div>
      <div id="oplev">
        <h2>Experience</h2>
        <div id="oplev_stor">
          <div class="oplev_grid">
            <div class="boxes" id="box1">
              <p class="tekst_billede" class="kort">Food</p>
            </div>
            <div class="boxes" id="box2">
              <p class="tekst_billede" class="kort">Music</p>
            </div>
            <div class="boxes" id="box3">
              <p class="tekst_billede">Workshops</p>
            </div>
          </div>
          <div id="grid">
            <div class="boxes" id="box4">
              <p class="tekst_billede">Performance</p>
            </div>
            <div class="box_lang">
              <p class="tekst_billede">And much more</p>
            </div>
          </div>
        </div>
      </div>

      <div id="youtube">
        <img src="../images/roedeprikker.png" alt="roedeprikker" />
        <h2>Last years festival</h2>
        <iframe src="https://www.youtube.com/embed/vZGJPqfaOEA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      </div>
    </main>
  </body>
  <Footer />

  <style>
    /*Header */
    #blomst {
      position: absolute;
      width: 35.5%;
      left: 13vw;
      transform: rotate(301deg);
      animation: synlighed 2s ease-in-out;
    }

    .dato {
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      text-align: center;
      color: var(--beige-dark);
      background-color: rgb(148, 181, 60, 0.6);

      font-size: 10px;
      margin: 0.2rem 2rem;
      padding: 0.5rem 1.5rem;
      border-radius: 50px;
    }

    @keyframes synlighed {
      0% {
        opacity: 0;
      }
      25% {
        opacity: 0.25;
      }
      50% {
        opacity: 0.5;
      }
      75% {
        opacity: 0.75;
      }
      100% {
        opacity: 1;
      }
    }

    @keyframes hopper {
      10% {
        translate: 0 2%;
      }
      20% {
        translate: 0 6%;
      }
      50% {
        translate: 0 10%;
      }
      100% {
        translate: 0 14%;
      }
    }
    @keyframes jump {
      100% {
        transform: translate3d(0, 0, 0);
      }
      50% {
        transform: translate3d(0, 0, 0);
      }
      0% {
        transform: translate3d(0, -15%, 0);
      }
    }
    .pil {
      transform-origin: 50% 50%;
      animation: jump 0.7s linear alternate infinite;
    }

    #tekstpil {
      display: flex;
      justify-content: space-between;
      color: #94b53c;
    }

    #program_billeder {
      display: grid;
      grid-template-columns: repeat(4, 8vw);
      grid-template-rows: 8vw 1fr;
      margin: 3em 0;
    }

    #program_billeder img:nth-child(1) {
      grid-column: 1 / 4;
      grid-row: 1;
      /* height: 35vw; */
      width: 25vw;
    }
    #program_billeder img:nth-child(2) {
      grid-column: 2 / 5;
      grid-row: 2;
      /* height: 35vw; */
      width: 25vw;
    }
    #grid {
      display: flex;
      justify-content: center;
      gap: 1em;
      margin-top: 1em;
      margin-bottom: 4em;
    }
    .pil {
      color: var(--beige-dark);
      font-size: 6vw;
      display: flex;
      justify-content: flex-end;
      font-weight: bolder;
    }
    .pil:hover {
      color: var(--red-medium);
      transition: 0.2s;
    }
    #pilcontainer {
      display: flex;
      align-items: end;
      padding-left: 15vw;
    }

    header {
      background-color: var(--red-dark);
      height: fit-content;
      width: 100%;
      padding-bottom: 1em;
    }

    #flex {
      display: flex;
    }

    .celebrate {
      font-size: 4vw;
      margin-bottom: 3vw;
    }
    #tekst_forside {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding-bottom: 6em;
      z-index: 1;
      margin-top: 4em;
    }

    #tekst_forside h1 {
      color: var(--beige-dark);
      font-family: "moykoregular";
      position: absolute;
      letter-spacing: 0.5vw;
      z-index: 1;
      top: 19vw;
      left: 33vw;
      font-size: 7vw;
    }
    #tekst_forside h2 {
      color: var(--beige-dark);
      font-size: 3vw;
      font-weight: 400;
    }

    #tekst_forside .japansk1 {
      color: #94b53c;
      font-size: 2.3vw;
      margin-top: -6%;
    }

    #nav_header h1 {
      color: #e2d5c3;
      font-family: "Poppins", sans-serif;
      margin-right: 1em;
      font-size: 2.5vw;
      margin-top: 18px;
      font-weight: 500;
    }

    #nav_header {
      display: flex;
      justify-content: flex-end;
    }

    #nav_header {
      display: flex;
      padding: 1em;
      align-items: center;
    }
    .menu {
      display: block;
      position: fixed;
      top: 0;
      left: 100%;
      width: 31%;
      padding: 1em;
      transition: 0.4s;
      border-radius: 1em;
      margin-left: 45em;
      margin-top: 8em;
      padding: 1em;
      height: fit-content;
      background-color: var(--beige-medium);
      cursor: pointer;
    }

    html {
      scroll-behavior: smooth;
    }

    .menu a {
      display: block;
      text-align: center;
      padding: 12px16px;
      margin: 0auto16px;
      color: black;
      text-decoration: none;
      font-family: "Poppins", sans-serif;
      font-size: 2vw;
      height: fit-content;
    }
    .menu a:hover {
      background-color: var(--beige-dark);
    }

    .hamburger:after,
    .hamburger:before {
      height: 0.4vw;
      background-color: var(--beige-dark);
      transition: 0.4s;
      content: "";
      display: block;
      overflow: initial;
      margin: 1vw 0px;
    }
    .hamburger {
      position: relative;
      width: 3.5vw;
      cursor: pointer;
      appearance: none;
      background: none;
      outline: none;
      border: none;
      display: block;
    }

    /* is-active */
    @media (max-width: 960px) {
      #baggrund_header img {
        margin-bottom: 3em;
      }
    }

    @media (min-width: 300px) {
      #program h2 {
        margin-top: -22%;
      }
    }

    @media (max-width: 900px) {
      #youtube img {
        display: none;
      }

      #oplev {
        max-height: 30vh;
      }
    }

    @media (max-width: 900px) {
      #oplev {
        max-height: 80vh;
      }
      /* #youtube {
        max-height: 60vh;
      } */
    }

    /*program */

    @media screen and (max-width: 599px) {
      #program_div {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: var(--beige-dark);
        margin-top: 10%;
      }
      #program_div img {
        width: 30%;
      }

      #program_billeder {
        display: flex;
        justify-content: space-evenly;
      }
      #forside {
        left: 41vw;
        top: 105vw;
      }
      #program {
        margin-top: 3vw;
        gap: 3vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 20vh;
      }
      #program h2 {
        gap: 3vw;
      }
      .menu.isactive {
        left: -120vw;
        width: 38%;
        top: -12vw;
        z-index: 2;
        height: 35vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      }
      #blomst {
        position: absolute;
        width: 39%;
        left: 6vw;
        transform: rotate(301deg);
      }
      #tekst_forside {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 2em;
        z-index: 1;
        margin-top: 5em;
      }
      #tekst_forside h1 {
        color: var(--beige-dark);
        font-family: "moykoregular";
        position: absolute;
        letter-spacing: 0.5vw;
        z-index: 1;
        top: 26vw;
        left: 33vw;
        font-size: 7vw;
      }
      #program button {
        background-color: var(--red-medium);
        padding: 1em;
        width: 22vw;
        border: none;
        border-radius: 1em;
        color: white;
        font-family: "Poppins";
        font-size: 2.2vw;
      }

      #program h2 {
        font-size: 4.2vw;
      }
      #youtube img {
        opacity: 0;
      }
      iframe {
        aspect-ratio: 560/315;
        width: 65%;
      }

      #youtube {
        max-height: 40vh;
      }

      #oplev {
        max-height: 50vh;
      }

      #oplev h2 {
        margin-top: 5%;
      }

      header {
        height: 40vh;
      }
    }

    @media screen and (min-width: 600px) {
      #program_div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-content: space-evenly;
        background-color: var(--beige-dark);
        padding-left: 2em;
      }
      #program button {
        background-color: var(--red-medium);
        padding: 1em;
        border: none;
        border-radius: 1em;
        color: white;
        font-family: "Poppins";
        font-size: 1.2vw;
        width: 15vw;
      }
      #program h2 {
        letter-spacing: 0.3vw;
      }

      .menu.isactive {
        left: 24vw;
        width: 23%;
        z-index: 2;
        height: 35vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
      }
    }

    #program {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 3vw;
    }

    #program button:hover {
      background-color: var(--red-dark);
      cursor: pointer;
      transition: 0.2s;
    }
    h2 {
      font-family: "Poppins";
    }
    #program h2 {
      font-size: 3.2vw;
    }

    /*oplev */
    #oplev {
      background-color: white;
      height: 120vh;
    }
    #oplev h2 {
      text-align: center;
      font-size: 3vw;
      padding-top: 2em;
      margin-bottom: 2em;
      letter-spacing: 0.4vw;
    }

    .box_lang:hover {
      cursor: pointer;
      opacity: 0.7;
    }
    .box_lang {
      height: 21vw;
      width: 58vw;
      background-image: url(/images/aktiviteter/fløjte.webp);
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 1em;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: end;
      padding-bottom: 3vw;
    }

    .box_lang p {
      width: 23vw;
    }
    .tekst_billede {
      background-color: var(--red-medium);
      /*width: 11vw; */
      border-radius: 0.3em;
      padding: 0.2em;
      color: var(--beige-dark);
      font-family: "Poppins";
      text-align: end;
      font-weight: 800;
      letter-spacing: 0.2vw;
      font-size: 2vw;
    }

    .boxes {
      height: 21vw;
      width: 28vw;
      /* background-image: url(/public/images/about/billede2.png); */
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 1em;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: end;
      padding-bottom: 3vw;
    }
    #box1 {
      background-image: url(/public/images/boder/saito.png);
    }

    #box1 p {
      width: 10vw;
    }
    #box2 {
      background-image: url(/public/images/aktiviteter/wadaiko.webp);
    }
    #box2 p {
      width: 10vw;
    }

    #box3 {
      background-image: url(/public/images/aktiviteter/anime_drawing.webp);
    }

    #box3 p {
      width: 17vw;
    }
    #box4 {
      background-image: url(/public/images/aktiviteter/aikido.webp);
      background-size: 117%;
    }
    #box4 p {
      width: 20vw;
    }

    .boxes:hover {
      cursor: pointer;
      /* opacity: 0.7; */
      width: 28.1vw;
    }

    .oplev_grid {
      height: 107%;
      width: 100%;
      background-repeat: no-repeat;
      background-size: contain;
      display: flex;
      gap: 1em;
      overflow: hidden;
      justify-content: center;
    }
    .oplev_grid img {
      border-radius: 1em;
    }

    /*Youtube */

    #youtube {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4em;
      padding: 6vw;
      background-color: var(--pink-medium);
      height: fit-content;
    }

    #youtube h2 {
      text-align: center;
      font-size: 3vw;
      letter-spacing: 0.5vw;
      z-index: 2;
    }

    #youtube img {
      position: absolute;
      width: 78vw;
      top: 185 vw;
      left: 12vw;
    }

    iframe {
      z-index: 2;
      aspect-ratio: 560/315;
      width: 65%;
      margin-top: -3%;
    }

    .hide {
      display: none;
    }

    @media (min-width: 600px) {
      .dato {
        font-size: 16px;
        margin: 0.5rem 2rem;
      }
    }
    @media (min-width: 900px) {
      .dato {
        font-size: 24px;
      }
    }
  </style>
  <script>
    window.onload = function () {
      const menu_btn = document.querySelector(".hamburger");

      const mobile_menu = document.querySelector(".menu");

      const pil = document.querySelector(".pil");

      menu_btn.addEventListener("click", function () {
        menu_btn.classList.toggle("isactive");
        mobile_menu.classList.toggle("isactive");
        pil.classList.toggle("hide");
      });
    };
  </script>
</html>
