---
---

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <ul>
          <li><a href="#">Activities</a></li>
          <li><a href="#">Booths</a></li>
          <li><a href="#">Volunteer</a></li>
          <li><a href="src/pages/about.astro">About Us</a></li>
        </ul>
      </div>
      <div class="col-md-4 text-center">
        <section class="logo">
          <a href="https://www.facebook.com/copenhagensakurafestival"
            ><img src="/images/facebook.svg" alt="facebook" /></a
          >
          <a href="https://www.instagram.com/copenhagensakurafestival/"
            ><img src="/images/instagram.svg" alt="instagram" /></a
          >
        </section>
        <h1>@Sakurafestival 2023</h1>
      </div>
      <div class="contact">
        <h3>Contact</h3>
        <p>
          Phone: (+45) 33 45 51 21
          <br />
          Fax: (+45) 33 11 33 77
          <br />
          Email: info.cph@ch.mofa.go.jp
        </p>
        <p>Langelinje Park, Nordre Toldbod <br /> 1259 København K</p>
      </div>
    </div>
  </div>
</footer>

<style>
  /* extra light = 200, regular = 400, medium = 500, bold = 700 */
  @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;700&display=swap");

  footer {
    background-color: #7c2d22;
    padding: 20px;
  }
  .row {
    display: flex;
    justify-content: space-between;
  }
  ul li {
    display: flex;
    flex-direction: row;
    list-style: none;
    line-height: 4.5em;
    font-weight: bold;
  }

  li a {
    text-decoration: none;
    color: #e2d5c3;
    font-family: "Poppins", sans-serif;
  }

  /* img {
    max-width: 100%;
  } */
  .logo {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30%;
  }

  h1 {
    margin-top: 25%;
    color: #e2d5c3;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
  }
  h3 {
    color: #e2d5c3;
    font-family: "Poppins", sans-serif;
    margin-top: 10%;
    font-size: 1.5rem;
    font-weight: 700;
  }
  p {
    color: #e2d5c3;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    margin-top: 15%;
  }
</style>
