---
---

<header>
  <div id="baggrund_header">
    <h1>Sakura festival</h1>
  </div>
  <div>
    <h1>22.</h1>
  </div>
</header>

<style>
  #baggrund_header {
    background-color: #7c2d22;
    /* background-image: url("/public/images/nav-about.svg");
    background-repeat: no-repeat; */
    height: 40vw;
    width: 100%;
    margin-bottom: 3em;
  }

  #baggrund_header h1 {
    margin-top: 5vw;
  }
</style>
