---
const { title, title2 } = Astro.props;
---

<body>
  <header>
    <div id="baggrund_header">
      <a href="../" class="logo-link">
        <img src="../../images/sakura-festival.png" alt="logo" width="20%" class="logo" />
      </a>
      <div id="nav_header">
        <div><h3 class="dato">22-23. APRIL 2023</h3></div>
        <div class="hamburger">
          <div class="bar">
            <span class="line"></span>
            <span class="line"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="titles">
      <h1>{title}</h1>
      <h2>{title2}</h2>
    </div>
    <div class="hejhej">
      <nav class="menu">
        <a href="../">Home</a>
        <a href="../program-liste">Program</a>
        <a href="#">Booths</a>
        <a href="#">Registration of booths, volunteers or activities</a>
        <a href="../about">About us</a>
      </nav>
    </div>
    <img src="../../images/blomstergren.png" alt="blomstergren" class="blomst" />
  </header>
  <script>
    // document.querySelector(".hamburger").addEventListener("click", () => {
    //   document.querySelector(".menu").classList.toggle("expanded");
    // });
    window.onload = function () {
      const menu_btn = document.querySelector(".hamburger");
      const mobile_menu = document.querySelector(".menu");
      menu_btn.addEventListener("click", function () {
        menu_btn.classList.toggle("isactive");
        mobile_menu.classList.toggle("isactive");
      });
    };
  </script>
</body>
<style>
  header {
    background-color: var(--red-dark);
    height: fit-content;
    width: 100%;
    padding: 0 0 5vh;
    overflow: hidden;
  }
  h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 5rem;
    color: var(--beige-dark);
    text-align: center;
  }
  h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 3rem;
    color: #94b53c;
    text-align: center;
    margin-bottom: 5%;
  }
  .dato {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    text-align: center;
    color: var(--beige-dark);
    background-color: rgb(148, 181, 60, 0.6);

    font-size: 10px;
    margin: 0.2rem 2rem;
    padding: 0.5rem 1.5rem;
    border-radius: 50px;
  }

  .logo-link {
    width: 20vw;
  }
  .logo {
    width: 100%;
  }
  .logo-link:hover {
    opacity: 80%;
  }

  #baggrund_header h1 {
    color: var(--beige-dark);
    font-family: "Poppins", sans-serif;
    margin-right: 1em;
    font-size: 3vw;
    margin-top: 18px;
    width: 447px;
    height: 97px;
  }
  #baggrund_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  #nav_header {
    display: flex;
    padding: 1em;
    align-items: center;
  }
  .menu {
    display: block;
    position: fixed;
    top: 0;
    left: 100%;
    width: 31%;
    padding: 1em;
    transition: 0.4s;
    border-radius: 1em;
    margin-left: 45em;
    margin-top: 8em;
    padding: 1em;
    height: fit-content;
    background-color: var(--beige-medium);
    z-index: 1;
  }
  .menu.isactive {
    left: 20vw;
    width: 23%;
  }
  .menu a {
    display: block;
    text-align: center;
    padding: 12px 16px;
    margin: 0 auto 16px;
    color: black;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 2vw;
    height: fit-content;
  }
  .menu a:hover {
    background-color: var(--beige-dark);
  }

  .hamburger:after,
  .hamburger:before {
    height: 0.4vw;
    background-color: var(--beige-dark);
    transition: 0.4s;
    content: "";
    display: block;
    overflow: initial;
    margin: 1vw 0px;
  }
  .hamburger {
    position: relative;
    width: 3.5vw;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    display: block;
  }

  .blomst {
    max-width: 23%;
    margin-top: 8%;
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(200deg);
    margin-right: 1%;
  }

  @media screen and (max-width: 599px) {
    .menu.isactive {
      left: -120vw;
      width: 38%;
      top: -12vw;
      z-index: 2;
      height: 35vw;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
  }
  @media screen and (max-width: 620px) {
    .menu.isactive {
      left: 24vw;
      width: 23%;
      z-index: 2;
      height: 35vw;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }

    .titles h1 {
      font-size: 50px;
      margin-top: 10%;
    }

    .titles h2 {
      font-size: 35px;
      margin-bottom: -5%;
    }

    #nav_header h1 {
      margin-top: 6%;
    }

    .blomst {
      margin-top: 15%;
      margin-right: 1%;
      position: absolute;
    }
  }

  @media (min-width: 600px) {
    .dato {
      font-size: 16px;
      margin: 0.5rem 2rem;
    }
  }
  @media (min-width: 900px) {
    .dato {
      font-size: 24px;
    }
  }
</style>
